<a href="https://colab.research.google.com/github/sangam-0/SARS_CORONAVIRUS_287BP_MN975263.1_accession_nucleotide/blob/main/SARS_CORONAVIRUS_287BP_MN975263_1_accession_nucleotide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basic Library
import pandas as pd # for data manipulation
import numpy as np # for calculation(math)
import matplotlib.pyplot as plt # for graphs
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df=pd.read_csv("/content/drive/MyDrive/SARS_CORONAVIRUS_287BP_MN975263.1_accession_nucleotide.csv")

In [12]:
df

,Details,Accession,Release_Date,Species,Genus,Family,Length,Nuc._Completeness,Genotype,Genome_Region,Segment,Geo_Location,Host,Isolation_Source,Collection_Date,BioSample,GenBank_Title
0,NaN,LR757995,2020-02-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAMEA6507893,Wuhan seafood market pneumonia virus genome as...
1,NaN,LR757998,2020-02-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAMEA6507890,Wuhan seafood market pneumonia virus genome as...
2,NaN,LR757997,2020-02-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAMEA6507891,Wuhan seafood market pneumonia virus genome as...
3,NaN,LR757996,2020-02-01T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAMEA6507892,Wuhan seafood market pneumonia virus genome as...
4,NaN,NC_045512,2020-01-13T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29903,"refseq, complete",NaN,NaN,NaN,China,Homo sapiens,NaN,2019-12,NaN,Wuhan seafood market pneumonia virus isolate W...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NaN,MT019533,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29883,complete,NaN,NaN,NaN,China,Homo sapiens,lung,2020-01-01,NaN,Severe acute respiratory syndrome coronavirus ...
75,NaN,MT019531,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29899,complete,NaN,NaN,NaN,China,Homo sapiens,lung,2019-12-30,NaN,Severe acute respiratory syndrome coronavirus ...
76,NaN,MT019529,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29899,complete,NaN,NaN,NaN,China,Homo sapiens,lung,2019-12-23,NaN,Severe acute respiratory syndrome coronavirus ...
77,NaN,MT019532,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29890,complete,NaN,NaN,NaN,China,Homo sapiens,lung,2019-12-30,NaN,Severe acute respiratory syndrome coronavirus ...
78,NaN,MT019530,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,29889,complete,NaN,NaN,NaN,China,Homo sapiens,lung,2019-12-30,NaN,Severe acute respiratory syndrome coronavirus ...

In [6]:
df.columns

Index(['Details', 'Accession', 'Release_Date', 'Species', 'Genus', 'Family',
       'Length', 'Nuc._Completeness', 'Genotype', 'Genome_Region', 'Segment',
       'Geo_Location', 'Host', 'Isolation_Source', 'Collection_Date',
       'BioSample', 'GenBank_Title'],
      dtype='object')

In [15]:
df.Species.unique()

array(['Severe acute respiratory syndrome-related coronavirus'],
      dtype=object)

In [18]:
df.Family.value_counts()

Family
Coronaviridae    79
Name: count, dtype: int64

In [19]:
df.Genus.value_counts()

Genus
Betacoronavirus    79
Name: count, dtype: int64

In [20]:
df.Length.value_counts()

Length
29882    11
107       7
294       6
290       5
287       5
562       4
29878     4
29903     4
357       3
322       2
29891     2
29899     2
29870     2
29881     2
29883     2
29872     1
29388     1
29852     1
29857     1
29825     1
29854     1
29866     1
29868     1
29847     1
29833     1
29848     1
29879     1
29838     1
29893     1
182       1
29858     1
29890     1
29889     1
Name: count, dtype: int64

In [21]:
df.isnull().sum()

Details              79
Accession             0
Release_Date          0
Species               0
Genus                 0
Family                0
Length                0
Nuc._Completeness    43
Genotype             79
Genome_Region        79
Segment              79
Geo_Location          4
Host                  4
Isolation_Source     22
Collection_Date       4
BioSample            75
GenBank_Title         0
dtype: int64

In [24]:
df.Genotype.value_counts()

Series([], Name: count, dtype: int64)

In [26]:
df.Genome_Region.value_counts()

Series([], Name: count, dtype: int64)

In [28]:
df.Host.value_counts()

Host
Homo sapiens    75
Name: count, dtype: int64

AttributeError: 'Series' object has no attribute 'unique_value'